
@{
    ViewBag.Title = "about";
}

<h2>about</h2>
<h5>Temp Data</h5>
<hr />
Language is<b>@TempData["Language"]</b><br />
AGe is <b>@TempData["age"]</b><br />
Computer knowlegde is <b>@TempData["comp"]</b><br />
                                              <b>Welcome @Session["UserName"]</b>
<br />
@ViewBag.msg